* {
    --purple-800: #2C0F29;
    --purple-900-30: #1706174C;
    --purple-900-80: #170617CC;
    --purple-500: #331433;
    --purple-350: #402640;
    --purple-300: #431F43;
    --purple-100: #C6AAC6;
    --purple-200: #8F618F;
    --white-100: #E7EEF0;
    --pink: #E01A59;
}