#early-access {
    padding: 80px 0;
}

#early-access > div {
    gap: 40px;
}

.bg-purple-900-80 {
    background-color: var(--purple-900-80);
}

#early-access .badge.outter {
    padding: 23px 30px;
    gap: 30px;
    box-sizing: border-box;
}

#early-access .badge.outter > img {
    max-height: 36px;
}


#early-access .badge.outter.coming-soon {
    border: 3px solid var(--purple-500) !important;
}

#early-access .badge.outter.released {
    border: 3px solid var(--purple-300) !important;
}

#early-access .badge.outter .badge {
    max-height: 36px;
    padding: 3px 24px 1px 24px;
}

#early-access .underglow-wrapper {
    top: 80px;
    left: 140px;
}

#early-access #release-badges {
    gap: 10px;
}
